<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="card">
    <!-- this is menu -->

        <div class="card-attributes">

            <div id = "card-attributes-tabs" class="card-attributes-tabs"></div>

            <div id = "card-attributes-container" class="card-attributes-container"></div>

            <div id = "card-attributes-buttons" class="card-attributes-buttons"></div>

            <script>
                var cardFiledValues = "[[${cardFiledValues}]]";
                var cardAttributes = "[[${cardData}]]";
                var messages = "[[${messages}]]";
                var cardAttrs = new UserCardCreator("card-attributes-container",cardAttributes,"card-attributes-tabs",cardFiledValues,messages);
                cardAttrs.createCardElements();

                var messages = "[[${messages}]]";
                var cardButtons = "[[${cardData}]]";
                var cardButton = new CardButtonsCreator("card-attributes-buttons",cardAttributes, cardAttrs,messages);
                cardButton.createCardButtons();

            </script>

        </div>


</div>

</body>
</html>