<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/favicon.png">
    <title th:text="#{bug-tracker.title}" ></title>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div class="left-menu-tree">
    <div class="menu">
        <div th:replace="menu :: menu"/>
    </div>

    <div class="news  well no-padding">
        <div th:replace="news :: news"/>
    </div>
</div>


<div th:replace="card :: card"/>

<div th:replace="footer :: footer"/>

</body>
</html>