<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="menu">


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="well no-padding">
                    <div>
                        <ul id="menu-items-list" class="nav nav-list nav-menu-list-style">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var cardAttributes = [(${menuList})];
        var messages = [(${messages})];
        var menu = new MenuElementsCretor("menu-items-list",cardAttributes, messages);
        menu.createMenuElements();
        menu.createMenuEvents();
    </script>



</div>

</body>
</html>