<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru-RU">
<head>
    <link rel="icon" href="/images/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="#{bug-tracker.title}" ></title>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div class="left-menu-tree">
    <div class="menu">
        <div th:replace="menu :: menu"/>
    </div>

    <div class="news  well no-padding">
        <div th:replace="news :: news"/>
    </div>
</div>

<div th:replace="search :: search"/>

<div th:replace="footer :: footer"/>

</body>
</html>