@font-face {
    font-family: Syntesia;
    src: url(Syntesia.ttf);
}

* {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;

}

* input {
    padding: 0px 0px 0px 5px;
}

.left-menu-tree {
    /*height: 90vh;*/
    /*width: 20%;*/
    /*display: inline-block;*/
    /*padding: 0px;*/
    /*background-color: red;*/
    /*margin: 0px;*/
    /*float: left;*/
}

.card-attributes {
    display: block;
    float: right;
    width: 78vw;
    padding: 0px 0 30px 10px;
}

.left-menu-tree .container {
    /*width: 18% !important;*/
    float: left;
}

.left-menu-tree .container a {
    cursor: pointer;
}

.dataTables_wrapper,
.search-block,
.card-attributes {
    margin-bottom: 20px !important;
    padding: 5px;
}

.card-attributes-tabs > span {
    cursor: pointer;
    background-color: #26465b;
    display: inline-block;
    color: #c7c7c7 !important;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.card-attributes-tabs > span:hover {
    background-color: #26465b !important;
    padding: 5px;
}

.card-attributes-tabs > span.tab-selected {
    background-color: #396d8e !important;
    color: white !important;
}

.card-attributes-container {
    padding: 10px 0 10px 10px;
    border: 1px solid #c0c2c3;
}

.card-attributes-container > div .half {
    width: 50% !important;
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 10px;
}

.card-attributes-container > div label {
    width: 100%;
}

.card-attributes-buttons {
    padding: 10px 0 10px 0px;
}

.card-attributes-buttons .card-button {
    display: inline-block;
    padding-right: 10px;
}

.card-attributes-buttons .card-button button {
    background-color: #26465b !important;
    border: 1px solid #26465b;
    color: #ececec !important;
}

span.popup {
    position: absolute;
    background: black;
    padding: 0px 10px 0px 10px;
    color: white;
}

.search-main-block {
    float: left;
    display: inline-block;
    width: 78vw;
}

.search-buttons,
.search-attributes {
    display: block;
    margin-bottom: 30px;
    margin-left: 20px;
}

.search-buttons > button {
    margin-right: 20px;
    font-size: 16px;
}

.search-attributes > div {
    width: 33%;
    display: inline-block;
}

.search-attributes > div > label {
    width: inherit;
    display: block;
}

.search-attributes input {
    width: 90% !important;
}

table.dataTable {
    width: 100% !important;
}

.search-block .dataTables_filter {
    display: none;
}

.half > input {
    width: 90%;
}

.half .input-group .form-control {
    width: 75%;
}

.half .input-group-addon {
    width: initial;
    /* padding: 0; */
    padding: 7px 12px;
}

.half.date > input.form-control {
    width: 85% !important;
}

.search-result-table tr:hover {
    cursor: pointer;
}

@media (min-width: 768px)
navbar.less:

37.navbar {
      border-radius: 0px;
  }

    .nav-menu-list-style > li > a {
        padding: 10px 0px;
        color: black;
        font-family: "Times New Roman", Times, serif;
        font-size: 16px;
    }

    .no-padding {
        padding: 0px;
    }

    .glyphicon-icon-rpad .glyphicon, .glyphicon-icon-rpad .glyphicon.m8, .fa-icon-rpad .fa, .fa-icon-rpad .fa.m8 {
        padding-right: 8px;
    }

    .glyphicon-icon-lpad .glyphicon, .glyphicon-icon-lpad .glyphicon.m8, .fa-icon-lpad .fa, .fa-icon-lpad .fa.m8 {
        padding-left: 8px;
    }

    .glyphicon-icon-rpad .glyphicon.m5, .fa-icon-rpad .fa.m5 {
        padding-right: 5px;
    }

    .glyphicon-icon-lpad .glyphicon.m5, .fa-icon-lpad .fa.m5 {
        padding-left: 5px;
    }

    .glyphicon-icon-rpad .glyphicon.m12, .fa-icon-rpad .fa.m12 {
        padding-right: 12px;
    }

    .glyphicon-icon-lpad .glyphicon.m12, .fa-icon-lpad .fa.m12 {
        padding-left: 12px;
    }

    .glyphicon-icon-rpad .glyphicon.m15, .fa-icon-rpad .fa.m15 {
        padding-right: 15px;
    }

    .glyphicon-icon-lpad .glyphicon.m15, .fa-icon-lpad .fa.m15 {
        padding-left: 15px;
    }

    ul.nav-menu-list-style .nav-header .menu-collapsible-icon {
        position: absolute;
        right: 3px;
        top: 16px;
        font-size: 9px;
    }

    ul.nav-menu-list-style {
        margin: 0;
    }

    ul.nav-menu-list-style .nav-header {
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #e8e8e8;
        display: block;
        margin: 0;
        line-height: 42px;
        padding: 0 8px;
        font-weight: 600;
    }

    ul.nav-menu-list-style > li {
        position: relative;
    }

    ul.nav-menu-list-style > li a {
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #e8e8e8;
        padding: 0 10px;
        line-height: 32px;
    }

    ul.nav-menu-list-style > li:first-child a {
    }

    ul.nav-menu-list-style {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    ul.nav-menu-list-style li .badge, ul.nav-menu-list-style li .pull-right, ul.nav-menu-list-style li span.badge, ul.nav-menu-list-style li label.badge {
        float: right;
        margin-top: 7px;
    }

    ul.bullets {
        list-style: inside disc
    }

    ul.bullets> li {
        padding-left: 10px
    }

    ul.numerics {
        list-style: inside decimal
    }

    .ul.kas-icon-aero {
    }

    ul.kas-icon-aero li a:before {
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        content: "\e258";
        padding-right: 8px;
    }

    .nav-menu-list-style label {
        cursor: pointer;
    }

    .left-menu-tree .row > div,
    .left-menu-tree,
    .left-menu-tree .row,
    .left-menu-tree .container {
        width: 20vw;
        float: left;
    }

    .input-group.date.half {
        width: 50% !important;
        vertical-align: top;
    }

    .added tr {
        background-color: #b2e1e796;
    }

    .fullString {
        margin-left: 5px;
    }

    .fullString textarea {
        width: 95% !important;
        padding: 6px 12px;
    }

    .navbar.navbar-inverse a {
        cursor: pointer;
    }

    .half img {
        max-width: 50%;
        max-height: 50px;
    }

    .container {
        width: initial !important;
    }

    .navbar.navbar-inverse .nav.navbar-nav {
        float: right;
    }

    .navbar-inverse .navbar-nav > li > a {
        padding: 0px 0px 0px 0px;
    }

    .navbar-inverse .navbar-nav > li > a > img {
        width: 50px;
        min-height: 50px;
        margin: 2px 20px 2px 0px !important;
    }

    .navbar-inverse .navbar-nav > li > a > span {
        margin-left: 10px;
    }

    .search-result-table thead tr,
    .navbar-inverse {
        border-radius: 0px !important;
        background-color: #26465b;
        border-color: #26465b;
    }

    table.dataTable thead td {
        padding-left: 10px;
    }

    .dataTables_length {
        float: right !important;
    }

    .dataTables_length > label > select {
        margin: 0px 5px;
        cursor: pointer;
    }

    .set-selected .multiSelect {
        width: 90% !important;
        padding: 0px;
    }

    .set-selected .multiSelect .ms-choice {
        border: none;
        border-bottom: 1px solid #ccc;
        height: inherit;
    }

    .set-selected .multiSelect .ms-choice > div {
        height: inherit;
        margin-top: 5px;
    }

    .ms-drop ul > li > label:hover {
        background-color: #ada6a6;
    }

    .ms-drop ul > li label {
        cursor: pointer;
        padding-left: 5px;
    }

    .ms-drop ul > li label > span {
        vertical-align: top;
        margin-left: 10px;
        /* padding-top: 10px; */
    }

    .ms-drop ul > li label > input {
        margin-top: 5px;
        vertical-align: top !important;
    }

    .set-selected .multiSelect .ms-choice > span {
        height: inherit;
        top: 4px;
    }

    .textField .userAssoc {
        background-image: url('/images/searchicon.png');
        background-position: 5px 7px;
        background-repeat: no-repeat;
        width: 90%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
    }

    .textField table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

    .textField table th {
        text-align: left;
        padding: 1px 12px;
    }

    .textField table td {
        text-align: left;
        padding: 5px 12px;
    }

    .textField table tr {
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }

    .card-attributes-container > div .half > .searchResult {
        width: 35%;
        position: fixed;
        z-index: 3;
        background-color: white;
    }

    .added {
        margin-bottom: 5px;
        width: 90% !important;
    }

    .textField table tr:not(.header):hover {
        background-color: #ddd;
    }



    .fullString > input {
        width: 99%;
        margin-bottom: 20px;
    }

    .fullString > .userAssoc,
    .fullString  .added,
    .fullString  .searchResult {
        margin-bottom: 0px;
        width: 99% !important;
    }

    .search-block {
        display: block;
    }

    .navbar-inverse .navbar-brand {
        color: #c7c7c7 !important;
    }

    table.dataTable thead {
        color: #e1d8d8;
    }

    table.dataTable thead td{
        padding: 10px 0px 10px 10px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.01em 1em !important;
    }

    .btn-primary {
        color: #dedcdc;
        background-color: #26465b;
        border-color: #26465b;
    }

    .fileSaver {
        width: 90px;
        height: 120px;
        background-color: #dadada;
        border-radius: 5px;
        word-wrap: break-word;
        padding: 5px;
        text-align: center;
    }

    .fileSaver a{
        width: inherit;
        color: black;
        cursor: pointer;
    }

    .textField .input-ghost {
        visibility:hidden;
        height:0
    }

    .textField  .input-group .input-group-btn:first-child {
        width: initial;
    }

    .textField .input-group-btn {
        position: relative;
        font-size: 0;
        white-space: nowrap;
        float : left;
    }

    .textField .input-group-btn .btn,
    .textField .input-group-btn:last-child {
        z-index: 2;
        margin-left: -1px;
        background-color: white;
        color: black;
        border-color: #cccccc;
    }

    .card-attributes-container > div .half.filesList {
        width: 100px !important;
        vertical-align: top;
    }


    .dropdown-menu .lang > a {
        width: initial;
        padding-right: 0px
    }

    .dropdown-menu .lang {
        display : inline-block;
    }

    .left-menu-tree .container a.selected {
        background-color: #21465b;
        color: #ffffffc7;
    }

    .left-menu-tree .news {
        display: block;
        float : left;
        overflow-y: scroll;
        width: inherit;
        margin-left: 15px;
        width: 92%;
        transition: 0.5s;
        height: 50px;
    }

    .left-menu-tree ::-webkit-scrollbar {
        display: none;
    }

    .news-items-list li span:first-child {
        text-align: center;
        padding-top: 10px;
        font-weight: bold;
        padding-left: 0px;
        cursor: pointer;
    }

    .news-items-list li span {
        width : 100%;
        display: block;
        padding-left: 15px;
        padding-bottom: 10px;
    }

    .news-items-list li {
        border-bottom: 3px solid #dee1e3;
    }